* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  overflow: hidden;
  color: rgb(255, 255, 255);
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  background: url("A.gif") center/cover no-repeat;
  filter: brightness(0.1) blur(0.1px);
  z-index: -1;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: 0 0 20px rgb(0, 17, 255);
  margin-bottom: 15px;
}

h1 {
  font-size: 36px;
  letter-spacing: 2px;
}

p {
  opacity: 0.8;
  margin-top: 5px;
}

.location {
  opacity: 0.6;
  font-size: 14px;
}

.icons {
  margin-top: 20px;
}

.icons img {
  width: 30px;
  margin: 0 10px;
  transition: 0.3s;
}

.icons img:hover {
  transform: scale(1.2);
}
.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: rgb(255, 255, 255);
  opacity: 0.8;
  animation: twinkle infinite alternate;
}

@keyframes twinkle {
  from { opacity: 0.2; }
  to { opacity: 1; }
}
.icons a {
  color: white;              /* لون الكلام */
  text-decoration: none;     /* يشيل الخط */
  margin: 0 10px;
  font-size: 14px;
  transition: 0.3s;
}

.icons a:hover {
  color: #0011ff;            /* لون عند المرور */
}
